

.page {
    display: flex;
    flex-direction: row;
}

.card {
    width: 100px;  
}

.all_cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card_in_deck {    
    width: 141px;
    height: 23px;
    margin-left: -41px;
    
}

.card_container {
    overflow: hidden;
    width: 100px;
    height: 23px;
    position: relative;
}

.nom_crop_image {
    position: absolute;
    left: 5px;
    top: 8px;
    color: white;
    font-size: 50%;
    font-weight: bold;
    
}