<p> {{ name }} </p>
<button (click)="searchCard()"> +1</button>
<input type="text" [(ngModel)]="current_card"/> 
<div class="page">
    <div class="all_cards">
        <div *ngFor="let card of all_results">
            <img class="card" src="{{  card['image']  }}" (click)="addCard(card)">
        </div>
    </div>
    <div class="deck">
        <div class="card_container" *ngFor="let card of deck">
            <img class="card_in_deck" src="{{  card['cropImage']  }}" >
        </div>
    </div>
</div>
<router-outlet></router-outlet>
